<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>My Home Feed</title>

    <!-- Stylesheets
    ================================================= -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <link href="{% static 'css/emoji.css' %}" rel="stylesheet">

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Archivo" rel="stylesheet">

    <style media="screen">
      body{
        font-family:'Archivo';
        /* background: linear-gradient(to right, rgba(192, 192, 170, 0.8), rgba(28, 239, 255, 0.5)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ */
      }
    </style>

  </head>
  <body>

    <!-- Header
    ================================================= -->
    <header id="header">
      <nav class="navbar menu">
        <div class="container">

          <!-- Brand and toggle get grouped for better mobile display -->
          <!-- left most logo -->
          <div class="navbar-header">
            <a class="navbar-brand" href=""><img src="" alt="logo" width="60" height="30" /></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right main-menu">

              <li class="dropdown"><a href="../home">My Home</a></li>
              <li class="dropdown"><a href="">My Friends</a></li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Profile <span><img src="{% static 'images/down-arrow.png' %}" alt="" /></span></a>
                <ul class="dropdown-menu">
                  <li><a href="../profile">Edit Profile</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Notification <span><img src="{% static 'images/down-arrow.png' %}" alt="" /></span></a>
                <ul class="dropdown-menu">
                  <!-- <li><a href="">Edit Profile</a></li> -->
                </ul>
              </li>
              <li class="dropdown"><a href="">Contact</a></li>

            </ul>

          </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
      </nav>
    </header>
    <!--Header End-->

    <div class="page-content">
      <div class="container">
        <div class="row">

          <!-- Feed Page Side Bar Left
          ================================================= -->
          <div class="col-md-3">
            <div class="friend-list">
              <h3 class="">My Friends</h3>
              <hr class="solid">
              <div class="friend">
                <img src="https://i1.sndcdn.com/artworks-000633504211-qcdzak-t500x500.jpg" alt="" class="profile-photo-sm pull-left" />
                <div>
                  <h5><a href="../friend">Hirose Koichi</a></h5>
                  <a href="#" class="text-muted">Just Posted</a>
                </div>
              </div>
              <div class="friend">
                <img src="https://i.pinimg.com/736x/3c/88/c8/3c88c8510028f627cf58792795629ed1.jpg" alt="" class="profile-photo-sm pull-left" />
                <div>
                  <h5><a href="../friend">Higashikata Josuke</a></h5>
                  <a href="#" class="text-muted">Posted 3 days ago</a>
                </div>
              </div>
              <div class="friend">
                <img src="https://media.comicbook.com/2019/01/jotaro-1154567-1280x0.jpeg" alt="" class="profile-photo-sm pull-left" />
                <div>
                  <h5><a href="../friend">Kujo Jotaro</a></h5>
                  <a href="#" class="text-muted">Posted 3 weeks ago</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-7">

            <!-- Post Create Box
            ================================================= -->
            <div class="create-post">
              <div class="row">
                  <div class="col-md-7">
                    <div class="form-group">
                      <img src="https://i.pinimg.com/originals/12/d2/b8/12d2b840a76ddc069cbdbb285100ae3d.png" alt="" class="profile-photo-lg" />
                      <div class="form-group-col">
                        {% csrf_token %}
                        <!-- {{ form.as_p }} -->
                        <!-- {{form.title}}
                        {{form.description}} -->

                        <textarea  id="title" cols="45" rows="1" class="form-title-control" placeholder="Title"></textarea>
                        <!-- <span class="zoom"><img id="uploadImg"></span> -->
                        <img id="uploadImg">
                        <textarea  id="description" cols="45" rows="4" class="form-control" placeholder="Description: Anything exciting?"></textarea>
                        <input type='file' id='imageFile' accept="image/*" onchange="readImg(this);">

                          <div class="dropdown">
                            <div class="publicity"><a id="visibility" href="#" style="color: #6d6e71;font-size: 15px;"><i class="fas fa-users"></i><a></div>
                              <div class="dropdown-content">
                                <a href="#" id="public"><i class="fas fa-users"></i>&ensp;<span>Allow everyone to see the post</span></a>
                                <a href="#" id="friend"><i class="fas fa-user-friends"></i>&ensp;<span>Allow only friends to see the post</span></a>
                                <a href="#" id="private"><i class="fas fa-user"></i>&ensp;<span>Post only to myself</span></a>
                              </div>
                            </div>
                            &thinsp;
                            <div class="dropdown">
                               <div class="publicity"><a id="contentType" href="#" style="color: #6d6e71;font-size: 15px;"><i class="fas fa-edit"></i><a></div>
                                <div class="dropdown-content">
                                  <a href="#" id="text"><i class="fas fa-edit"></i>&ensp;<span>This is simply a text post</span></a>
                                  <a href="#" id="github"><i class="fab fa-github"></i>&ensp;<span>This is a Github stream</span></a>
                                  <a href="#" id="image"><i class="ion-images"></i>&ensp;<span>This is an image post</span></a>
                                  <a href="#" id="markdown"><i class="far fa-file"></i>&ensp;<span>This is a Common Markdown post</span></a>
                                </div>
                            </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-5">
                      <div class="tools">
                        <!-- <ul class="publishing-tools list-inline">
                          <li><a href="#"><i class="fab fa-github"></i></a></li>
                          <li><a href="#"><i class="ion-images"></i></a></li>
                        </ul>
                        &ensp; -->
                        <!-- <button class="btn btn-primary" type="submit">Publish</button> -->
                        <button class="btn btn-primary" id="publishBtn">Publish</button>

                      </div>
                  </div>
              </div>
            </div><!-- Post Create Box End-->

            <!-- Post Content
            ================================================= -->
            <div class="post-content">

              <img src="https://static.wikia.nocookie.net/jjba/images/a/ad/Spur.jpg/revision/latest?cb=20181031225100" alt="post-image" class="img-responsive post-image" />
              <div class="post-container">
                <img src="https://i.pinimg.com/originals/12/d2/b8/12d2b840a76ddc069cbdbb285100ae3d.png" alt="user" class="profile-photo-md pull-left" />
                <div class="post-detail">
                  <div class="user-info">
                    <h5><a href="" class="profile-link" id="fullName">KISHIBE ROHAN</a> </h5>
                    <p class="text-muted">Posted a photo</p>
                  </div>


                  <hr class="solid">
                  <div class="post-text">
                    <p> Same sothing asdkjha di iahsd o1h2e,khsdakhdsao dhashd asj dopqwu d!!!lsid oias doashd asd asoid o ashd .
                    </p>
                    <div class="edit"><a>Edit</a>&emsp;<a href="#" class="text-red">Delete</a></div>

                  </div>

                  <div class="reaction-img">
                    <a class="btn text-red"><i class="icon ion-ios-heart"></i> 13</a>
                    <a class="btn text-green"><i class="icon ion-share"></i></a>
                  </div>

                  <hr class="solid">
                  <div class="post-comment">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRORBz8JA-W7NGNWIwUpUiTI4XkICdyLrXFBw&usqp=CAU" alt="" class="profile-photo-sm" />
                    <p><a href="" class="profile-link">Dad </a> Sooooo goood brooooooooooo </p>
                  </div>
                  <div class="post-comment">
                    <img src="https://i.pinimg.com/736x/68/a1/67/68a1670d2735cb688e9d31658b16800c.jpg" alt="" class="profile-photo-sm" />
                    <p><a href="" class="profile-link">May</a> Sooooo gooood brooooooooooo </p>
                  </div>
                  <div class="post-comment">
                    <img src="https://i.pinimg.com/736x/85/48/95/85489588a43e9403a3dd5072609b94f4.jpg" alt="" class="profile-photo-sm" />
                    <a href="" class="profile-link">Me </a>
                    <input type="text" class="form-control" placeholder="Post a comment">
                  </div>
                </div>
              </div>
            </div>

            <!-- Post Content
            ================================================= -->
            <div class="post-content">

              <img src="https://images.unsplash.com/photo-1425913397330-cf8af2ff40a1?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8Zm9ycmVzdHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="post-image" class="img-responsive post-image" />
              <div class="post-container">
                <img src="{% static 'images/snow-mount.jpg' %}" alt="user" class="profile-photo-md pull-left" />
                <div class="post-detail">
                  <div class="user-info">
                    <h5><a href="" class="profile-link" id="fullName">Zoe Smith</a> <span class="follow-status">following</span></h5>
                    <p class="text-muted">Posted a photo</p>
                  </div>


                  <hr class="solid">
                  <div class="post-text">
                    <p> Same sothing asdkjha di iahsd o1h2e,khsdakhdsao dhashd asj dopqwu d!!!lsid oias doashd asd asoid o ashd .
                    </p>
                  </div>

                  <div class="reaction-img">
                    <a class="btn text-red"><i class="icon ion-ios-heart"></i> 13</a>
                    <a class="btn text-green"><i class="icon ion-share"></i></a>
                  </div>

                  <hr class="solid">
                  <div class="post-comment">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRORBz8JA-W7NGNWIwUpUiTI4XkICdyLrXFBw&usqp=CAU" alt="" class="profile-photo-sm" />
                    <p><a href="" class="profile-link">Dad </a> Sooooo goood brooooooooooo </p>
                  </div>
                  <div class="post-comment">
                    <img src="https://i.pinimg.com/736x/68/a1/67/68a1670d2735cb688e9d31658b16800c.jpg" alt="" class="profile-photo-sm" />
                    <p><a href="" class="profile-link">May</a> Sooooo gooood brooooooooooo </p>
                  </div>
                  <div class="post-comment">
                    <img src="https://i.pinimg.com/736x/85/48/95/85489588a43e9403a3dd5072609b94f4.jpg" alt="" class="profile-photo-sm" />
                    <a href="" class="profile-link">Me </a>
                    <input type="text" class="form-control" placeholder="Post a comment">
                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>

    <!--preloader-->
    <div id="spinner-wrapper">
      <div class="spinner"></div>
    </div>

    <!-- Scripts
    ================================================= -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky-kit.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrollbar.min.js' %}"></script>
    <script src="{% static 'script/feed.js' %}"></script>
    <script src="https://kit.fontawesome.com/cd4cf617b4.js" crossorigin="anonymous"></script>
  </body>
</html>
