{% extends "base.html" %}
{% block content %}

    <div class="container">

      <div class="">
        <div class="timeline-cover">

          <!--Timeline Menu -->
          <div class="timeline-nav-bar">
            <div class="row">
              <div class="col-md-3">
                <div class="profile-info">
                  <img src="https://i.pinimg.com/originals/12/d2/b8/12d2b840a76ddc069cbdbb285100ae3d.png" alt="" class="img-responsive profile-photo" />
                  <h3 id="fullName">{{myName}}</h3>
                  <p class="text-muted"> 1000 people is following me</p>
                </div>
              </div>
              <div class="col-md-9">
                <ul class="list-inline profile-menu">
                  <li><a href="../home">My Timeline</a></li>
                  <li><a href="../myFriends">My Friends</a></li>
                  <li><a href="" class="active">My Profile</a></li>
                  <li><a href="../feed">Public Feed </a></li>
                </ul>
              </div>
            </div>
          </div>
          <!--Timeline Menu-->
          </div>
          <div id="page-contents">
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-7">

                <!-- Basic Information
                ================================================= -->
                <div class="edit-profile-container">
                  <div class="block-title">
                    <h4 class="">Edit My Profile</h4>
                    <hr class="solid">
                    <p>You can edit your profile information below</p>
                    <div class="line"></div>
                  </div>
                  <div class="edit-block">
                    <form name="basic-info" id="basic-info" class="form-inline" method="post">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <button class="btn btn-primary">Save Changes</button>
                    </form>
                  </div>
                </div>
              </div>


    </div>
    <!--preloader-->
    <div id="spinner-wrapper">
      <div class="spinner"></div>
    </div>

    <!-- Scripts
    ================================================= -->

{% endblock content %}
