{% extends "base.html" %}

{% block content %}


{% load static %}

<div class="container">
  <div class="">
    <div class="timeline-cover">

      <!--Timeline Menu -->
      <div class="timeline-nav-bar">
        <div class="row">
          <div class="col-md-3">
            <div class="profile-info">
              <img src="https://i.pinimg.com/originals/12/d2/b8/12d2b840a76ddc069cbdbb285100ae3d.png" alt="" class="img-responsive profile-photo" />
              <h3 id="fullName">{{ user.profile.displayName }}</h3>
              <p class="text-muted"> {{ user.profile.followers.all.count }} people is following him</p>
            </div>
          </div>
          <div class="col-md-9">
            <ul class="list-inline profile-menu">
              <li><a href="../public_channel/">My Timeline</a></li>
              <li><a href="../friends/" class="active">My Friends</a></li>
              <li><a href="../profile/" class="">My Profile</a></li>
              <li><a href="../my_posts">Public Feed </a></li
            </ul>
          </div>
        </div>
      </div>
      <!--Timeline Menu Ends-->
    </div>
      <div id="page-contents">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-7">
      <!-- Friend List -->
            <div class="friend-list">
              <div class="row">
                {% for friend in user.profile.friends.all %}
                <div class="col-md-6">
                  <div class="friend-card">
                    <!-- <img src="{% static 'images/snow-mount.jpg' %}" alt="profile-cover" class="img-responsive profile-photo-sm" /> -->
                    <div class="timeline-cover-sm"></div>

                    <div class="card-info">
                      <img src="https://i1.sndcdn.com/artworks-000633504211-qcdzak-t500x500.jpg" alt="user" class="profile-photo-lg" />
                      <div class="friend-info">
                        <a class="btn-primary-sm unfollow pull-right" href="delete/{{friend.id}}" >Unfollow</a>
                        <!-- <form action="delete/{{friend.id}}" method="post">
                            {% csrf_token %}
                            <button class="btn-primary-sm unfollow pull-right" type="submit" value="Delete" >Unfollow<button>
                        </form> -->
                        <div class="">
                          <h5><a style="color: white;">11</a></h5>
                          <!-- href:/chat/author/+friend.id -->
                          <h5><a href="../public_channel/{{friend.id}}/" class="profile-link">{{friend.profile.DISPLAY_NAME}}</a></h5>
                          <p class="text-green">Been friends for 10 months</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}


            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Friend List End -->


</div>
<!--preloader-->
<div id="spinner-wrapper">
  <div class="spinner"></div>
</div>

<!-- Scripts
================================================= -->
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.sticky-kit.min.js' %}"></script>
<script src="{% static 'js/jquery.scrollbar.min.js' %}"></script>
<script src="{% static 'script/myFriends.js' %}"></script>
<script src="https://kit.fontawesome.com/cd4cf617b4.js" crossorigin="anonymous"></script>

{% endblock content %}
