<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ChatByte</title>

    <!-- Stylesheets
    ================================================= -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <link href="{% static 'css/emoji.css' %}" rel="stylesheet">

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Archivo" rel="stylesheet">

    <style media="screen">
      body{
        font-family:'Archivo';
      }
    </style>
  </head>
  <body>

    <!-- Header
    ================================================= -->
    <header id="header">
      <nav class="navbar menu">
        <div class="container">

          <!-- Brand and toggle get grouped for better mobile display -->
          <!-- left most logo -->
          <div class="navbar-header">
            <a class="navbar-brand" href=""><img src="" alt="logo" width="60" height="30" /></a>
          </div>

          <!-- # search bar -->
          <!-- Load icon library -->
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

          <!-- The form -->
<!--           <form class="search_user" action=""> -->
            <input type="text" placeholder="Search.." name="search" id = "search_user_input">
            <button  id="search_user_button" onclick="search()"><i class="fa fa-search"></i></button>
<!--           </form>  -->







          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right main-menu">

              <li class="dropdown"><a href="../my_stream/">My Stream</a></li>
              <li class="dropdown"><a href="../my_friends">My Friends</a></li>
              <li class="dropdown"><a href="../my_posts">My Posts</a></li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Profile <span><img src="{% static 'images/down-arrow.png' %}" alt="" /></span></a>
                <ul class="dropdown-menu">
                  <li><a href="../profile/">Edit Profile</a></li>
                </ul>
              </li>

              <li class="dropdown" id="myInbox">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >My Inbox <span class="badge">{{friend_request_num}}</span>&thinsp; <span><img src="{% static 'images/down-arrow.png' %}" alt="" /></span></a>
                <ul class="dropdown-menu">
                  {% for friend_requests in user.profile.friend_requests.all %}
                    <li><a href="" id={{friend_requests.id}}><a href="../public_channel/{{friend.id}}/">{{friend_requests.author.displayName}}</a> has sent you a friend request!</a><button class="accept">Accept</button><button class="reject">Reject</button></li>
                  {% endfor %}
                </ul>
              </li>

              <li class="dropdown"><a href="/accounts/logout">Logout</a></li>

            </ul>

          </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
      </nav>
    </header>

    <div class="page-content">
      <div class="container">
        <div class="row">
          <!-- Feed Page Side Bar Left
          ================================================= -->
          <div class="col-md-3">
            <div class="friend-list">
              <h3 class="">My Friends</h3>
              <hr class="solid">
              {% for friend in friends %}
              <div class="friend">
                <img src="{% static 'images/user.png' %}" alt="" class="profile-photo-sm pull-left" />
                <div>
                  <h5><a href="../friend">friend.profile.displayName</a></h5>
                  <!-- <a href="#" class="text-muted">Just Posted</a> -->
                </div>
              </div>
              {% endfor %}
            </div>
          </div>

          <div class="col-md-7">

            <!-- Post Create Box
            ================================================= -->
            {% if messages %}
              <ul>
                {% for message in messages %}
                                   <li style="position: relative; right: -25px; color: red;">{{ message }}</li>
                              {% endfor %}
                            </ul>
            {% endif %}
            <div class="create-post">
              <div class="row">
                  <div class="col-md-1">
                    <div class="form-group">
                      <img src="{% static 'images/user.png' %}" alt="" class="profile-photo-lg" />
                      <!-- <div class="form-group-col">
                        {% csrf_token %}
                        <textarea  id="title" cols="45" rows="1" class="form-title-control" placeholder="Title" required></textarea>
                        <img id="uploadImg">

                        <textarea  id="description" cols="45" rows="4" class="form-control" placeholder="Description: Anything exciting?"></textarea>
                        <input type='file' id='imageFile' accept="image/*" onchange="readImg(this);">

                          <div class="dropdown">
                            <div class="publicity"><a id="visibility" href="#" style="color: #6d6e71;font-size: 15px;"><i class="fas fa-users"></i><a></div>
                              <div class="dropdown-content">
                                <a href="#" id="public"><i class="fas fa-users"></i>&ensp;<span>Allow everyone to see the post</span></a>
                                <a href="#" id="friend"><i class="fas fa-user-friends"></i>&ensp;<span>Allow only friends to see the post</span></a>
                                <a href="#" id="private"><i class="fas fa-user"></i>&ensp;<span>Post only to myself</span></a>
                              </div>
                            </div>
                            &thinsp;
                            <div class="dropdown">
                               <div class="publicity"><a id="contentType" href="#" style="color: #6d6e71;font-size: 15px;"><i class="fas fa-edit"></i><a></div>
                                <div class="dropdown-content">
                                  <a href="#" id="text"><i class="fas fa-edit"></i>&ensp;<span>This is simply a text post</span></a>
                                  <a href="#" id="github"><i class="fab fa-github"></i>&ensp;<span>This is a Github stream</span></a>
                                  <a href="#" id="image"><i class="ion-images"></i>&ensp;<span>This is an image post</span></a>
                                  <a href="#" id="markdown"><i class="far fa-file"></i>&ensp;<span>This is a Common Markdown post</span></a>
                                </div>
                            </div>
                      </div> -->
                    </div>
                  </div>

                  <div class="col-md-7">
                    <div class="tools">
                      <!-- <button class="btn btn-primary" id="publishBtn">Publish</button> -->
                      <button class="btn btn-primary" id="postBtn" data-toggle="modal" data-target="#exampleModal">Make Post</button>
                    </div>
                  </div>

                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="create-post">
                          <div class="row">
                              <div class="col-md-7">
                                <div class="form-group">
                                    <div class="form-group-col">
                                      {% csrf_token %}
                                      <textarea  id="title" cols="45" rows="1" class="form-title-control" placeholder="Title" required></textarea>
                                      <img id="uploadImg">

                                      <textarea  id="description" cols="45" rows="4" class="form-control" placeholder="Description: Anything exciting?"></textarea>
                                      <input type='file' id='imageFile' accept="image/*" onchange="readImg(this);">

                                        <div class="dropdown">
                                          <div class="publicity"><a id="visibility" href="#" style="color: #6d6e71;font-size: 15px;"><i class="fas fa-users"></i><a></div>
                                            <div class="dropdown-content">
                                              <a href="#" id="public"><i class="fas fa-users"></i>&ensp;<span>Allow everyone to see the post</span></a>
                                              <a href="#" id="friend"><i class="fas fa-user-friends"></i>&ensp;<span>Allow only friends to see the post</span></a>
                                              <a href="#" id="private"><i class="fas fa-user"></i>&ensp;<span>Post only to myself</span></a>
                                            </div>
                                          </div>
                                          &thinsp;
                                          <div class="dropdown">
                                             <div class="publicity"><a id="contentType" href="#" style="color: #6d6e71;font-size: 15px;"><i class="fas fa-edit"></i><a></div>
                                              <div class="dropdown-content">
                                                <a href="#" id="text/plain"><i class="fas fa-edit"></i>&ensp;<span>This is simply a text post</span></a>
                                                <a href="#" id="github"><i class="fab fa-github"></i>&ensp;<span>This is a Github stream</span></a>
                                                <a href="#" id="image"><i class="ion-images"></i>&ensp;<span>This is an image post</span></a>
                                                <a href="#" id="text/markdown"><i class="far fa-file"></i>&ensp;<span>This is a Common Markdown post</span></a>
                                              </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" id="publishBtn">Publish</button>
                        </div>
                      </div>
                    </div>
                    <!-- Modal -->

                  </div>
                </div>
            <!-- Post Create Box End-->



          <!--             post content mine =====================================================-->
          {% for cur_post in page_obj %}
                <div class="post-content" id={{cur_post.id}}>
                  <!--Post Date-->
                  <div class="post-date">


                  </div><!--Post Date End-->
                  {% if 'image/' in cur_post.contentType  %}
                  {% load filter %}
                  <img alt="post-image" class="img-responsive post-image" src="data:image;base64,{{ cur_post.content | bin_2_img }}"/>
                  {% endif %}
                  <div class="post-container">
                    <img src="{% static 'images/user.png' %}" alt="user" class="profile-photo-md pull-left" />
                    <div class="post-detail">
                      <div class="user-info">
                        <h5><a href="" class="profile-link" id="fullName">{{cur_post.origin}}</a> </h5>
                        <p class="text-grey post_date" >{{cur_post.published}} </p>

                        <p class="text-muted">{{cur_post.categories}}</p>
                      </div>
                      <hr class="solid">
                      <div class="post-text">

                        <p class="post_title" style="font-weight:700; font-size:18px; color:152238; padding-top: 5px;">
                          {{ cur_post.title}}
                        </p>

                        {% if 'plain' in cur_post.contentType %}
                        <p style="font-weight:700; font-size:14px; color:152238; padding-top: 5px;">
                          {{ cur_post.description | linebreaks }}
                        </p>
                        {% elif 'markdown' in cur_post.contentType %}
                        <p style="font-weight:700; font-size:14px; color:152238; padding-top: 5px;">
                          {{ cur_post.description | markdown | safe }}
                        </p>
                        {% endif %}

                        <form action="." method="post" class="edit-block" style="display: none">

                            {% csrf_token %}
                            <textarea name="editText" id="editText" cols="80" rows="4" class="form-control" val="">{{cur_post.description}}</textarea>
                            <button  type="submit" id="submitEdit" class="btn btn-seconday btn-on-top">Submit</button>

                        </form>
                        <div class="editText" style="display: none">
                        </div>

                        <div class="edit">
                          <!-- <button id="{{cur_post.ID}}" class="submitBtn btn-primary-sm" style="display: none">Submit</button> -->
                          <button id="submitBtn" class="submitBtn btn-primary-sm" style="display: none" onclick="editPost( '{{ cur_post.id }}' )">Submit</button>
                          <a href="/chat/feed/edit{{ cur_post.id }}/" class="editBtn" onclick="editButton( '{{ cur_post.title }}', ' {{cur_post.description}} ' )">Edit</a>
                          &thinsp;
                          <a href='#' id="{{ cur_post.id }}" class="deleteBtn" onclick="deletePost( '{{ cur_post.id }}' )">Delete</a>
                        </div>

                      </div>

                      <div class="reaction-img">
                        <a class="btn text-red "><i class="icon ion-ios-heart like">{{ cur_post.likes.all | length }}</i></a>
                        <a class="btn text-green"><i class="icon ion-share repost"></i></a>
                      </div>

                    <hr class="solid">
                      <!--            show nested comment  -->
                    {% for comment in cur_post.comments.all %}
                              <div class="post-comment" id={{comment.id}}>
                                <img src="{% static 'images/user.png' %}" alt="" class="profile-photo-sm" />
                                <p><a href="" class="profile-link">{{comment.author.displayName}} </a>{{comment.comment}}</p>
                              </div>

                              <div class="reaction-img">
                                <a class="btn text-red"><i class="icon ion-ios-heart comment-like">{{ comment.likes | length }}</i></a>
                              </div>
                    {% endfor %}
                                <!--   show comments -->
<!--
                      <div class="post-comment">
                        <img src="https://i.pinimg.com/736x/85/48/95/85489588a43e9403a3dd5072609b94f4.jpg" alt="" class="profile-photo-sm" />
                        <a href="" class="profile-link">{{user.profile.displayName}} </a>
                        <input type="text" class="form-control" placeholder="Post a comment">
                      </div> -->

                    </div>
                  </div>
                </div>

          {% endfor %}

          <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first page</a>
                    <a >&hearts; &hearts; &hearts;  </a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous page</a>
                {% endif %}

                <span class="current">
                  </br>
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </br>
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next page</a>
                    <a >&hearts; &hearts; &hearts;  </a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last page &raquo;</a>
                {% endif %}
            </span>
          </div>


        </div>
      </div>
    </div>

    <!--preloader-->
    <div id="spinner-wrapper">
      <div class="spinner"></div>
    </div>
    {% load static %}
    <!-- Scripts
    ================================================= -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky-kit.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrollbar.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>

    <script src="{% static 'script/posts.js' %}"></script>
    <script src="https://kit.fontawesome.com/cd4cf617b4.js" crossorigin="anonymous"></script>
  </body>
</html>
