<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome to Chatbyte</title>
  </head>
  <body>
    <div class="wrapper">
  <div class="left-section">
    <div class="middle2">
      <div >
        <p class="homepage-title">Welcome to Chatbyte</p>
      </div>
    </div>
  </div>
<div class="right-section">
    <div class="middle" >
      <p id="notlogin">login or sign up</p>
      <div class="w3-center">
        <p><a href="/accounts/signup/" class="btn btn-primary btn-lg btn-block  button-font button-color1">signup</a></p>
        <p><a href="{% url 'login' %}" class="btn btn-primary btn-lg btn-block  button-font button-color2">login</a></p>
      </div>
    </div>
  </div>
</div>
</body>
  </body>
</html>
