html, body {
  height: 100%;
  width: 100%;
}

img.profile-photo{
  height: 58px;
  width: 58px;
  border-radius: 50%;
}

img.profile-photo-lg{
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

img.profile-photo-md{
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

img.profile-photo-sm{
	height: 40px;
	width: 40px;
	border-radius: 50%;
}

img.profile-photo-xs{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.follow-status{
  color: #8dc63f;
  font-size: 12px;
  margin-left: 0px;
}

h1, h2, h3, h4, h5, h6{color: #27aae1;}
h1.grey, h2.grey, h3.grey, h4.grey, h5.grey, h6.grey{
  color: #6d6e71;
  margin: 0 auto 20px;
}


.profile-link{font-weight: 600;}

.text-green{color: #8dc63f;}

.text-green:hover{color: #39b54a;}

.text-red{color: #ef4136;}

.text-red:hover{color: #d6100b;}

hr.solid {
  border-top: 1px solid #e6e6e6;
  margin: 0;
}


.static{
  position: static;
}

.btn-primary{
	background: #27aae1;
	padding: 7px 25px;
	border: none;
	font-size: 14px;
	border-radius: 4px;
	color: #fff;
	position: relative;
  font-weight: 600;
  outline: none;
  border-radius: 30px;
}
.btn-primary:hover{
  background: #149AC9;
  transition: all 1s;
}

.btn-primary-sm{
	background: #27aae1;
	padding: 7px 10px;
	border: none;
	font-size: 14px;
	border-radius: 4px;
	color: #fff;
	position: relative;
  font-weight: 600;
  outline: none;
  border-radius: 30px;
}
.btn-primary-sm:hover{
  background: #149AC9;
  transition: all 1s;
}


.btn-secondary{
	background: linear-gradient(to bottom, rgba(67, 67, 67, 0.8), rgba(0,0,0,1));
	padding: 0 40px;
	border: none;
	min-height: 36px;
	font-size: 18px;
	border-radius: 6px;
	color: #fff;
	position: relative;
  outline: none;
}

.btn-secondary:hover{
	background: #000;
  transition: all 1s;
}

a.disabled {
  pointer-events: none;
}

/*==================================================
  Header
  ==================================================*/
img .logo{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 10px solid #fff;
}
#header{
  min-height: 50px;
}
.menu{
  background: #231F20;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-default .navbar-collapse, .navbar-default{
  border: 0;
}


.menu ul.main-menu li a{
  line-height: 26px;
}

.menu ul.main-menu li.dropdown a{
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}

.menu ul.main-menu li.dropdown a:hover, .menu ul.main-menu li.dropdown a:active, .menu ul.main-menu li.dropdown a:focus{
  color: #27aae1;
  background: none;
}

.menu ul.main-menu li.open a, .menu ul.main-menu li.open a:active, .menu ul.main-menu li.open a:focus{
  background: transparent;
  color: #27aae1;
}

.menu ul.main-menu li ul.dropdown-menu{
  background: #231F20;
  box-shadow: none;
  border: 0;
  padding: 0;
}

.menu ul.main-menu li ul.dropdown-menu li{
  list-style: none;
  padding: 5px 0;
  border-bottom: 1px solid rgba(255,255,255, 0.1)
}

.menu ul.main-menu li ul.dropdown-menu li a, .menu ul.main-menu li.open ul.dropdown-menu li a{
  color: #fff;
  font-size: 13px;
  line-height: 16px;
}

.menu ul.main-menu li ul.dropdown-menu li a:hover, .menu ul.main-menu li.open ul.dropdown-menu li a:hover{
  color: #e6e6e6;
}

.back{
	/* background: url("../images/tech_back.jpg") fixed no-repeat; */
  background-position: center;
	background-size: cover;
	max-height: 100%;
  width: 100%;
	position: relative;
  top: 0;

}

/*==================================================
  Homepage Signin Form
  ==================================================*/
.input-box {
  color: #000;
}

.sign-in-form{
  background: linear-gradient(to bottom, rgba(0, 90, 167, .6), rgba(0, 12, 64, 0.8) 100%);
  position: absolute;
  width: 500px;
  min-height: 600px;
  top: 0;
  padding: 100px 30px;
  text-align: center;
  /* color: #fff; */
  color: black;
  z-index: 1000;
}

.sign-in-form:after{
  content: "";
  border-color: rgba(0, 12, 64, 0.8) transparent transparent;
  border-style: solid;
  border-width: 40px 250px 0;
  bottom: -40px;
  height: 0;
  left: 0;
  position: absolute;
  width: 0;
}

.sign-in-form h1{
  font-family:'Titillium Web';
  font-weight: bold;
  color: #141E30;
  margin: 100px 0 20px;
}


.sign-in-form .form-wrapper{
  padding: 20px 20px 0;
  border: 1px solid rgba(255, 255, 255, .2);
  border-top: none;
  margin-bottom: 30px;
}

.sign-in-form .form-wrapper .signin-text{
  font-size: 15px;
}


.sign-in-form .form-wrapper .form-group .form-control{
  border: none;
  box-shadow: none;
  border-radius: 17px;
  padding-left: 20px;

  margin-bottom: 10px;
  width: 100%;
}

.sign-in-form .form-wrapper button{
  position: relative;
  top: 20px;
  border-radius: 17px;
}

.sign-in-form a{
  color: #fff;
}

.sign-in-form img.form-shadow{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 100%;
}

/*=============================
Sign up Page
====================================*/
#sign-up-page{
  background: linear-gradient(to right, rgba(76, 161, 175, 0.6) , rgba(196, 224, 229, 0.6)), url("../images/tech_back.jpg") fixed no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100vh;
}

#sign-up-page .wrapper{
  padding-top: 140px;
  padding-bottom: 140px;
}

#sign-up-page h1,h2,h3{
  font-family: 'Titillium Web';
  margin-bottom: 30px;
  font-size: 28px;
  color: #141E30;
}

.intro-texts{
  color: #141E30;
  font-size: 14px;
  transform: translateY(100px);
}

.intro-texts h1{
  font-size: 60px;
}

.reg-form-container{
  background: #fff;
  box-shadow: 0 0 35px rgba(0,0,0, .4);
  padding: 40px 40px 40px 60px;
  border-radius: 6px;
  position: relative;
  min-height: 550px;
  z-index: 10;
}

/*Sign Up Form*/

#sign_up_form .form-group{
  margin-bottom: 10px;
}



#registration_form .form-control,
#Login_form .form-control{
  background: #fff;
  color: #939598;
  border-radius: 30px;
  box-shadow: none;
  width: 100%;
  border: 1px solid #f1f2f2;
  padding-left: 15px;
}

#registration_form select.form-control{
  background: rgba(0, 0, 0, 0) url("../images/down-arrow.png") no-repeat scroll calc(100% - 10px) center / 8px auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #939598;
}

#registration_form p.birth{
  margin-left: 10px;
}

/*======================--------------------------
Timeline
==================================================*/

.timeline-cover{
  background: url("https://images.unsplash.com/photo-1512273222628-4daea6e55abb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80") no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 360px;
  border-radius: 0 0 4px 4px;
  position: relative;
}

.timeline-cover-sm{
  background: url("https://images.unsplash.com/photo-1512273222628-4daea6e55abb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80") no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100px;
  border-radius: 0 0 4px 4px;
  position: relative;
}

.timeline-cover .timeline-nav-bar{
  background: rgba(0,0,0, .7);
  width: 100%;
  position: absolute;
  bottom: 25px;
}

.timeline-cover .timeline-nav-bar .profile-info{
  position: absolute;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  top: -100px;
  z-index: 0;
}


.timeline-cover .timeline-nav-bar .profile-info img.profile-photo{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 10px solid #fff;
}

.timeline-cover .timeline-nav-bar .profile-info h3{
  font-family: 'Archivo';
  font-weight: 700;
  color:#141E30;
  margin-bottom: 0;
}

.timeline-cover .timeline-nav-bar ul.profile-menu{
  margin: 0; /* To remove default bottom margin */
  padding: 0; /* To remove default left padding */
  display: table; /* Horizontal display*/
}

.timeline-cover .timeline-nav-bar .profile-menu li{
  display: table-cell;
  vertical-align: middle;
  padding: 15px 0;
}

.timeline-cover .timeline-nav-bar .profile-menu li a{
  color: #fff;
  padding: 15px;
  text-decoration: none;
}

.timeline-cover .timeline-nav-bar .profile-menu li a.active{
  color: #27aae1;
}

.timeline-cover .timeline-nav-bar .profile-menu li a:hover{
  color: #27aae1;
}


/*==================================================
  Post Contents CSS
  ==================================================*/
#page-contents{
  padding: 30px 0 50px;
}

.posts {
  position: absolute;
  padding-top: 80px;
}


.post-content{
  background: #f8f8f8;
  border-radius: 4px;
  width: 100%;
  border: 1px solid #f1f2f2;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.post-content img.post-image{
  width: 100%;
  height: auto;
}

.post-content .google-maps .map{
  height: 300px;
}

.post-content .post-container{
  padding: 20px;
  min-width: 600px;
}

.post-content .post-container .post-detail{
  margin-left: 65px;
  position: relative;
}

.post-content .post-container .post-detail .post-text{
  line-height: 24px;
  margin: 0;
}

.post-content .post-container .post-title{
  font-weight:900;
  font-size:25px;
  color:#152238;
  padding-top: 5px;
}

.post-content .post-container .post-content-text{
  font-weight:700;
  font-size:0px;
  color:#152238;
  padding-top: -10px;
}

.post-content .post-container .post-date{
  padding-left: 30px;
}


.post-content .post-container .post-detail .post-text .edit{
  position: relative;
  text-align: right;
}

.post-content .post-container .post-detail .reaction-img{
  position: absolute;
  right: 0;
  top: 0;
}

.post-content .post-container .post-detail .reaction-text{
  position: relative;
  text-align: left;
  height: 1px;
  right: 0;
  top: -28px;
  margin: 0;
  padding: 0;
}

.post-content .post-container .post-detail .post-comment{
  display: inline-flex;
  margin: 10px auto;
  width: 100%;
}


.post-content .post-container .post-detail .post-comment .post-commentor{
  display: block;
  margin: 1px auto auto 0px;
}

.post-content .post-container .post-detail .post-comment .post-comment-contain{
  margin: -10px auto auto auto;
}

.post-content .post-container .post-detail .post-comment img.profile-photo-sm{
  margin-right: 10px;
}

.post-content .post-container .post-detail .post-comment .form-control{
  height: 30px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  margin: 7px 10px;
  min-width: 0;
}


/*==================================================
 Post Date
==================================================*/

.timeline .post-content{
  position: relative;
  overflow: visible;
}

.timeline .post-content::after{
  content: "";
  position: absolute;
  background: none;
  width: 1px;
  height: 98%;
  right:-100px;
  border-left: 2px solid #8dc63f;
  top: 0px;
}

.timeline .post-content .post-date{
  position: absolute;
  right: -130px;
  margin-top: 0px;
  color: grey;
  max-width: 130px;
}

.timeline .post-content .post-date::after{
  content: "";
  background: #8dc63f;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  right: 1px;
  bottom: 40px;
  border: 2px solid #fff;
}

.timeline .post-content img.post-image{
  border-radius: 4px 4px 0 0;
}


/*==================================================
  Timeline Sidebar Left
  ==================================================*/
.activities {
  position: absolute;
  top: 110px;
}
.feed-item{
  text-align: left;
  margin-bottom: 13px;
  padding: 0 20px;
  position: relative;
}

.feed-item::before{
  border-left: 2px solid #8dc63f;
  position: absolute;
  height: 30px;
  content: "";
  left: 0;
  top: 5px;
}


.feed-item .live-activity{
  border-bottom: 1px solid #f1f2f2;
}

/*==================================================
  Create Post Box CSS
  ==================================================*/

.create-post{
  width: 100%;
  min-height: 120px;
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f1f2f2;
}

.create-post .form-group{
  margin: 0;
  display: inline-flex;
}

.create-post .form-group .form-group-col{
  display: inline-block;
}

.create-post .form-group .form-control{
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  resize: vertical;
  min-height: 100px;
  margin-top: 10px;

}

.create-post .form-group .form-title-control{
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  resize: vertical;
  min-height: 10px;
}

.create-post .form-group #uploadImg{
  margin-top: 10px;
}

.create-post .form-group input{
  display: none;
  margin-top: 10px;
}

.create-post .form-group .form-group-col .dropdown{
  position: none;
  display: inline-table;
}

.create-post .form-group .form-group-col .publicity{
  padding-top: 10px;
  margin:0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 270px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #6d6e71;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown-content a:active {background-color: #27aae1;}



.dropdown:hover .dropdown-content {display: block;}


.create-post .form-group img.profile-photo-lg{
  margin-right: 15px;
}

.create-post .tools{
  padding: 5px 0 0px 100px;
}

.create-post .tools  a{
  color: #FFFFFF;
}

.create-post .tools  a:hover{
  color: #152238;
}


/*==================================================
  Feed Page Friend List CSS
  ==================================================*/
.friend-list.affix{
  position:fixed !important;
}

.friend-list{
  padding: 20px;
}

.friend-list h3{
  color: #27aae1;
  font-weight: 600;
  font-family: "Archivo";
  margin-bottom: 0;
}
.friend{
  margin-bottom: 20px;
}

.friend div{
  margin-left: 50px;
  position: relative;
}

.friend div::after{
  content: "";
  background: none;
  border-top: 1px solid #f1f2f2;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -10px;
}

/*==================================================
  Stream Page Friend List CSS
  ==================================================*/

.friend-list .friend-card{
  border-radius: 4px;
  border-bottom: 1px solid #f1f2f2;
  overflow: hidden;
  margin-bottom: 20px;
}

.friend-list .friend-card .card-info{
  padding: 0 20px 10px;
}

.friend-list .friend-card .card-info img.profile-photo-lg{
  margin-top: -60px;
  border: 7px solid #fff;
  position: absolute;
  z-index: 10;
}



.friend-list .friend-card .friend-info {
  position: relative;
  margin-top: 10px;
}

/*=======================================
  Img Zoom in effect
==========================================*/
.zoom {
      transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  position:absolute;
  right:0;
}

/*==================================================
  Preloader Animation CSS
  ==================================================*/

.spinner {
  width: 40px;
  height: 40px;
  background-color: #27aae1;
  position: absolute;
  top: 48%;
  left: 48%;
  box-shadow: 0 0 8px rgba(0,0,0, .3);
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

#spinner-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999999;
}
