<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ChatByte</title>

    <!-- Stylesheets
    ================================================= -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <link href="{% static 'css/emoji.css' %}" rel="stylesheet">

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Archivo" rel="stylesheet">

    <style media="screen">
      body{
        font-family:'Archivo';
      }
    </style>
  </head>
  <body>

    <!-- Header
    ================================================= -->
    <header id="header">
      <nav class="navbar menu">
        <div class="container">

          <!-- Brand and toggle get grouped for better mobile display -->
          <!-- left most logo -->
          <div class="navbar-header">
            <a class="navbar-brand" href=""><img src="" alt="logo" width="60" height="30" /></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right main-menu">

              <li class="dropdown"><a href="../public_channel/">My Home</a></li>
              <li class="dropdown"><a href="../friends">My Friends</a></li>


              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Profile <span><img src="{% static 'images/down-arrow.png' %}" alt="" /></span></a>
                <ul class="dropdown-menu">
                  <li><a href=".">Edit Profile</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Inbox <span><img src="{% static 'images/down-arrow.png' %}" alt="" /></span></a>
                <ul class="dropdown-menu">
                  <li>Someone wants to add you as friend!</li>

                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Notification <span><span class="badge">5</span>&thinsp;<img src="{% static 'images/down-arrow.png' %}" alt="" /></span></a>
                <ul class="dropdown-menu">
                  <li><a href="">Some one has sent you a friend request!</a><button>Accept</button><button>Reject</button></li>
                </ul>
              </li>
              <li class="dropdown"><a href="">Contact</a></li>

            </ul>

          </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
      </nav>
    </header>
    <!--Header End-->
    {% block content %}{% endblock content %}

  </body>

</html>
